  
  

body {
	background-color:#52596b;
	background-image:url("../img/stripes.png"),url("../img/background.jpg");
	background-repeat: repeat-x,no-repeat;
	background-size: 20%, cover;
  background-position: , top 0;

    font-family:helvetica;
    color:#fff;
    padding: 256px 0 0 40px;
    background-color:#52596b;
  }
  

p{ font-size: 26px;
   color:#fff;
   margin-top:50px;
   padding-bottom: 20px;
}      

hr{
   color:#905d67;
   width: 40px;
   margin-left: 0;
  margin-top:50px;
  line-height: 5px;


  }      